<template name="layout">
    {{> Topbar}}


<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{{pathFor route='DevProjects'}}">Dev Token</a>
            </li>

            <li>
                <a href="{{pathFor route='RevProjects'}}">Rev Token</a>
            </li>

            <li>
                <a href="{{pathFor route='ContractList'}}">Contracts</a>
            </li>
            <li>
                <a href="{{pathFor route='Tasks'}}">Open Task</a>
            </li>

            <li>
                <a href="{{pathFor route='Account'}}">Account</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {{#if currentUser}}
            <header>
                <h1>{{title}}</h1>
            </header>

            <ul>
                {{> yield}}
            </ul>
            {{else}}
                Please login
            {{/if}}

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

</template>